---

import PackageDetails from '../components/react/PackageDetails';
import DefaultLayout from '../layouts/DefaultLayout.astro';

const { id } = Astro.params;

if(!id) Astro.redirect("/")

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Package details</title>
	</head>

	<body>
		<DefaultLayout>
			<div class="grid place-items-center content-center">
				<PackageDetails client:idle packageId={id!}/>
			</div>
		</DefaultLayout>
	</body>
</html>