---

import DestinationCreator from '../components/react/DestinationCreator';
import DefaultLayout from '../layouts/DefaultLayout.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Create destination</title>
	</head>

	<body>
		<DefaultLayout>
			<div class="grid place-items-center content-center">
				<DestinationCreator client:idle/>
			</div>
		</DefaultLayout>
	</body>
</html>