---
// Component Imports
import PackageDashboard from '../components/react/PackageDashboard/PackageDashboard';
import DefaultLayout from '../layouts/DefaultLayout.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>X Supplies</title>
	</head>

	<body>
		<DefaultLayout>
			<div class="grid place-items-center content-center">
				<PackageDashboard client:idle/>
			</div>
		</DefaultLayout>
	</body>
</html>