---
// Component Imports
import ProductCreator from '../components/react/ProductCreator';
import ProductPicker from '../components/react/ProductPicker';
import DefaultLayout from '../layouts/DefaultLayout.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<DefaultLayout>
			<div class="flex gap-4 items-center justify-center">
				<div>Activate blockchain mode:</div>
                <input type="checkbox" />
			</div>
		</DefaultLayout>
	</body>
</html>